<% @evaluations.each do |evaluation| %>
<ul>
<li>id:<%= evaluation.id %></li>
<li>evaluator:<%= evaluation.evaluator_id %></li>
<li>evaluatee:<%= evaluation.evaluatee_id %></li>
<li>point:<%= evaluation.point %></li>
<li>created:<%= evaluation.created_at %></li>
<li>updated<%= evaluation.updated_at %></li>
</ul>
<% end %>
