<% if @user.errors %>
  <ul id="error_explanation">
    <% user.errors.full_messages.each do |message| %>
      <li class="text-danger"><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @user, class: "mx-3", local: true do |f| %>
  <table class="table table-hover shadow-sm">
    <tbody>
      <tr>
        <th><%= f.label :name, '名前', class: "text-muted" %></th>
        <td><%= f.text_field :name, autofocus: true, class: "form-control" %></td>
      </tr>
      <tr>
        <th><%= f.label :email, 'メールアドレス', class: "text-muted" %></th>
        <td><%= f.email_field :email, class: "form-control" %></td>
      </tr>
      <tr>
        <th><%= f.label :password, 'パスワード', class: "text-muted" %></th>
        <td><%= f.password_field :password, class: "form-control" %></td>
      </tr>
      <tr>
        <th><%= f.label :password_confirmation, 'パスワード（確認）', class: "text-muted" %></th>
        <td><%= f.password_field :password_confirmation, class: "form-control" %></td>
      </tr>
      <tr>
        <th><%= f.label :sex, '性別', class: "text-muted" %></th>
        <td><%= f.select :sex, [['女性', 0], ['男性', 1]], {}, { id: "sex", class: "form-control" } %></td>
      </tr>
      <tr>
        <th><%= f.label :hobby, '趣味', class: "text-muted" %></th>
        <td><%= f.text_field :hobby, class: "form-control" %></td>
      </tr>
      <tr>
        <th><%= f.label :character, '性格', class: "text-muted" %></th>
        <td><%= f.text_field :character, class: "form-control" %></td>
      </tr>
      <tr>
        <th><%= f.label :generation, '世代', class: "text-muted" %></th>
        <td><%= f.select :generation, [['10代', 0], ['20代', 1], ['30代', 2],['40代', 3],['50代', 4],['60代以上', 5]],{}, { id: "generation", class: "form-control" } %></td>
      </tr>
      <% if current_user.admin? %>
        <tr>
          <th><%= f.label :admin, '管理者権限', class: "text-muted" %></th>
          <td>
              <%= f.check_box :admin, class: "form-control" %>
          </td>
        </tr>
        <tr>
          <th><%= f.label :point, '所持ポイント', class: "text-muted" %></th>
          <td><%= f.text_field :point, class: "form-control" %></td>
        </tr>
      <% end %>
    </tbody>
  </table> 

  <div class="text-center">
    <%= f.submit '登録する', class: "btn btn-info" %>
  </div>
<% end %>
