
<h3 class="my-4">- <%= @user.name %>さんのレベルを選択！ -</h3>
<div class="continput">
<%= link_to "計測", new_evaluation_path(evaluatee_id: @user.id, evaluator_id: current_user.id) %>
  <%= form_with url: new_evaluation_path(evaluatee_id: @user.id, evaluator_id: current_user.id), local: false do |f| %>
    <ul>
      <li>
        <%= f.radio_button :evaluation_point, '1' %>
        <%= f.label :evaluation, 
          current_user.sex ==0?'L1：修行編エピソード１から出直してきたら？':'L1：修行編エピソード１から出直せ', value: 1 %>
        <%= render "bullet" %>
      </li>
      <li>
        <%= f.radio_button :evaluation_point, '2' %>
        <%= f.label :evaluation, 
          current_user.sex ==0?'L2：まずは自分磨きを毎日ね。':'L2：まずは毎日修行。話はそれから', value: 2 %>
        <%= render "bullet" %>
      </li>
      <li>
        <%= f.radio_button :evaluation_point, '3' %>
        <%= f.label :evaluation, 
          current_user.sex ==0?'L3：まだ自分が見えてないわ。':'L3：まだまだ修行が足りん', value: 3 %>
        <%= render "bullet" %>
      </li>
      <li>
        <%= f.radio_button :evaluation_point, '4' %>
        <%= f.label :evaluation, 
          current_user.sex==0?'L4：わたしには少し実力不足ね。':'L4：オレのテキではない', value: 4 %>
        <%= render "bullet" %>
      </li>
      <li>
        <%= f.radio_button :evaluation_point, '5', checked: true %>
        <%= f.label :evaluation, 
          current_user.sex ==0?'L5：まぁまぁじゃない。':'L5：まぁまぁだな', value: 5%>
        <%= render "bullet" %>
      </li>
      <li>
        <%= f.radio_button :evaluation_point, '6' %>
        <%= f.label :evaluation, 
          current_user.sex==0?'L6：ちょっとはやるわね。':'L6：少しはやるな', value: 6 %>
        <%= render "bullet" %>
      </li>
      <li>
        <%= f.radio_button :evaluation_point, '7' %>
        <%= f.label :evaluation, 
          current_user.sex ==0?'L7：え？いいじゃん！':'L7：ほうまだこんなヤツがいたとは', value: 7 %>
        <%= render "bullet" %>
      </li>
      <li>
        <%= f.radio_button :evaluation_point, '8' %>
        <%= f.label :evaluation, 
          current_user.sex==0?'L8：マジでイケてるよ！':'L8：むむっ、強敵だな', value: 8 %>
        <%= render "bullet" %>
      </li>
      <li>
        <%= f.radio_button :evaluation_point, '9' %>
        <%= f.label :evaluation, 
          current_user.sex==0?'L9：ヤバすぎ！秒で落とされそう。。':'L9：まさかこのオレ様が震えているだと。。。？！', value: 9 %>
        <%= render "bullet" %>
      </li>
      <li>
        <%= f.radio_button :evaluation_point, '10' %>
        <%= f.label :evaluation, 
          current_user.sex==0?'L10：カッコいいが渋滞してる！！！':'L10：バカな、スカウターで測定不能できん！', value: 10 %>
        <%= render "bullet" %>
      </li>
    </ul>
    <div>
      <%= f.submit 'レベルを計測！', class: "btn btn-info btn-lg mb-4" %>
    </div>
  <% end %>
</div>
<% if current_user.point >= 5 %>
<div>
  <small class="text-danger">「5ポイント」消化して「<%= @user.name %>さん」の評価をのぞけます！</small>
</div>
<div>
  <%= form_with url: check_user_path, local: false do |f| %>
    <%= hidden_field_tag :point, current_user.point %>
    <%= f.submit "いますぐ評価をチェック！", class: "btn btn-warning btn-lg mb-4" %>
  <% end %>
</div>
<% end %>
