<p class="lead"><%= @user.name %><small>さん</small></p>
<div class="d-flex justify-content-center">
  <div class="col-sm-5">
    <div class="card mb-3">
    <%if @user.id == current_user.id %>
      <%=image_tag mypage_demo_image, class: 'card-img-top', alt: 'Card image cap' %>
    <% else %>
      <%=image_tag user_demo_image, class: 'card-img-top', alt: 'Card image cap' %>
    <% end %>
      <div class="card-body">
        <p class="card-text"><%= User.human_attribute_name(:hobby) %>：<%= @user.hobby %></p>
        <p class="card-text"><%= User.human_attribute_name(:character) %>：<%= @user.character %></p>
        <p class="card-text"><%= User.human_attribute_name(:email) %>：<%= @user.email %></p>
        <p class="card-text"><%= User.human_attribute_name(:sex) %>：<%= set_sex(@user) %></p>
        <p class="card-text"><%= User.human_attribute_name(:generation) %>：<%= set_generation(@user) %></p>
        <p class="card-text text-info"><%= User.human_attribute_name(:point) %>：<span class="lead font-weight-bold"><%= @user.point %></span> pts</p>
        <p class="card-text small">計測した人数：52人 / 計測された人数：37人</p>
      </div>
    </div>
  </div>
</div>
<%= render "impression" %>
