<% if !current_user %>
  <p class="big">テスト</p>
  <h1 class="display-1 my-5">第一印象は異性への<br />「戦闘力」だ！！！</h1>
  <h2>キミの「戦闘力」は果たして！？</h2>
  <div>
    <%=image_tag "scouter_top.jpg", class: 'img-fluid rounded img-thumbnail' %>
  </div>
  <h3 class="mt-4">君の写真で戦闘力が評価される！</h3>
  <h3 class="mt-4">年代別のが評価もわかるぞ！</h3>
  <h3 class="mt-4">評価をすればポイントがたまる（一人評価→１ポイント）。</h3>
  <h4 class="my-4">5ポイントをためると気になる人の評価をチェックすることができる！</h4>
  <div>
    <%= link_to 'ログイン', login_path, class: 'btn btn-success btn-lg btn-block' %>
    <%= link_to '新規登録', new_user_path, class: 'btn btn-info btn-lg btn-block' %>
  </div>
<% else %>

  <h1>ユーザー一覧</h1>

  <%= render "shared/paginate" %>

  <div class="row">

    <% @users.each do |user| %>
    <div class="col-sm-3">
      <div class="card mb-3">
        <img class="card-img-top" src=".../100px180/" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= User.human_attribute_name(:name) %>：<%= user.name %></h5>
          <%= link_to "プロフィール", user_path(user), class: "btn btn-primary" %>
        </div>
      </div>
    </div>  
    <% end %>
  </div>

  <%= render "shared/paginate" %>
  
 <% end %>
