<p class="lead"><%= @user.name %><small>さんのページ</small></p>
<div class="d-flex justify-content-center">
  <div class="col-sm-5">
    <div class="card mb-3">
    <%if @user.id == current_user.id %>
      <%=image_tag mypage_demo_image, class: 'card-img-top', alt: 'Card image cap' %>
    <% else %>
      <%=image_tag user_demo_image, class: 'card-img-top', alt: 'Card image cap' %>
    <% end %>
      <div class="card-body">
        <p class="card-text"><%= User.human_attribute_name(:hobby) %>：<%= @user.hobby %></p>
        <p class="card-text"><%= User.human_attribute_name(:character) %>：<%= @user.character %></p>
        <%# 5ポイントブロック %>
        <% if current_user.id == @user.id || current_user.admin? %>
          <p class="card-text"><%= User.human_attribute_name(:email) %>：<%= @user.email %></p>
          <p class="card-text"><%= User.human_attribute_name(:sex) %>：<%= set_sex(@user) %></p>
          <p class="card-text"><%= User.human_attribute_name(:generation) %>：<%= set_generation(@user) %></p>
          <p class="card-text text-info font-weight-bold"><%= User.human_attribute_name(:point) %>：<span class="display-3"><%= @user.point %></span> pts</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%# 測定ブロック %>
<% if @user.id != current_user.id %>
  <%= render "scale" %>
<% end %>
<%# 5ポイント以上でプロフチェック %>
<% if current_user.point >= 5 && @user.id != current_user.id %>
  <div class="mt-4">
    <small class="text-danger">5ポイント消化してこの人の評価がのぞけます！</small><br />
    <%= link_to 'いますぐチェック！', users_path, class: "btn btn-warning btn-lg text-white mb-45" %>
  </div>
<% end %>
<%# 印象ブロック %>
<% if current_user.id == @user.id %>
  <%= render "impression" %>
<% end %>
<%# プロフの編集・削除 %>
<% if current_user.id == @user.id || current_user.admin? %>
  <div class="text-center">
    <%= link_to '編集する', edit_user_path, class: "btn btn-info text-white mr-3" %>
    <%= link_to "削除", @user, method: :delete, data: { confirm: "ユーザー「#{@user.name}」を削除します。よろしいですか？"}, class: "btn btn-danger text-white" %>
  </div>
<% end %>
