<p class="mt-3">スカウター<span class="small">（男性人 <%= @male.count %> / 女性<%= @female.count %>人）</span>管理</p>

<div class="text-center">
    <%= link_to '新スカウター作成', new_admin_user_path, class: 'btn btn-warning font-weight-bold my-3 btn-lg text-white' %>
</div>

<table class="table table-hover shadow-sm my-3">
    <thead class="thead-default">
        <tr class="text-center">
            <th><%= User.human_attribute_name(:name) %></th>
            <th><%= User.human_attribute_name(:sex) %></th>
            <th><%= User.human_attribute_name(:generation) %></th>
            <th><%= User.human_attribute_name(:point) %></th>
            <th><%= User.human_attribute_name(:admin) %></th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= set_sex(user) %></td>
          <td><%=  set_generation(user) %></td>
          <td><%= user.point %></td>
          <td class="text-center font-weight-bold"><%= user.admin? ? '有' : '無' %></td>
          <td>
              <%= link_to "詳細", user_path(user), class: "btn btn-info text-white" %>
              <%= link_to "編集", edit_user_path(user), class: "btn btn-secondary text-white" %>
              <%= link_to "削除", user, method: :delete, data: { confirm: "ユーザー「#{user.name}」を削除します。よろしいですか？"}, class: "btn btn-danger text-white" %>
          </td>
        </tr>
    <% end %>    
    </tbody>
</table>

<%= render "shared/paginate" %>
 
