<h1>ユーザー管理</h1>

<div class="text-center">
    <%= link_to '新しくユーザー作成', admin_users_new_path, class: 'btn btn-warning font-weight-bold my-3 btn-lg shadow' %>
</div>

<div class="mx-auto" style="width: 210px;">
  <%= will_paginate  :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
</div>

<table class="table table-striped table-hover table-bordered shadow-sm my-3">
    <thead class="thead-default">
        <tr class="table-danger text-center">
            <th><%= User.human_attribute_name(:name) %></th>
            <th><%= User.human_attribute_name(:email) %></th>
            <th><%= User.human_attribute_name(:admin) %></th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td class="text-center font-weight-bold"><%= user.admin? ? '有' : '無' %></td>
          <td class="d-fl">
              <%= link_to "詳細", user_path(user), class: "btn btn-primary" %>
              <%= link_to "編集", edit_user_path(user), class: "btn btn-secondary" %>
              <%= link_to "削除", user, method: :delete, data: { confirm: "ユーザー「#{user.name}」を削除します。よろしいですか？"}, class: "btn btn-danger" %>
          </td>
        </tr>
    <% end %>    
    </tbody>
</table>


 
