<%= render "shared/header" %>

  <body>
    <%= render "shared/nav" %>
    <div class="container text-center mb-4">
      <% if current_user %>
        <div class="my-2">
          <small class="text-info">[<%= current_user.name %> さんログイン中]</small>
        </div>
      <% end %>
      <% if flash.notice %>
        <div class="alert alert-success"><%= flash.notice %></div>
      <% end %>
      <%= yield %>

      <%#= render "shared/footer" %>
    </div>
    

  </body>
</html>
